-provide(:title, t(:about))

.bg-local.bg-no-repeat.bg-body
  .container.mx-auto.py-8
    .flex.mx-5.p-10.space-x-12.justify-center.background-clip-content.bg-blur-light.dark:bg-blur-dark
      %h4{ :class => "text-dark-400 dark:text-light-400" }= t(:about)
