%div{class: 'min-h-[70vh]'}
  .p-4.bg-light-500.rounded-lg.dark:bg-gray-800
    %p.text-sm.text-dark-300.dark:text-light-600
      This is some placeholder content the
      = succeed "." do
        %strong.font-medium.text-dark-400.dark:text-light-400 Teams tab's associated content
