= form_for(current_user.active_relationships.build, remote: true) do |f|
  %div
    = hidden_field_tag :followed_id, user.id
  = f.submit t(:follow), class: "inline-flex items-center py-2 px-3 body-small-regular text-center text-light-300 bg-dark-500 rounded-full hover:bg-dark-600 dark:bg-light-300 dark:text-dark-500 dark:hover:bg-light-400"
