- @user ||= current_user
%ul.mt-8.space-y-8
  %li
    .flex.flex-row.space-x-4
      = image_tag("icons/location.svg")
      %span.body-medium-bold Earth
  %li
    .flex.flex-row.space-x-4
      = image_tag("icons/email.svg")
      %span.body-medium-bold Email
  %li
    .flex.flex-row.space-x-4
      = image_tag("icons/github.svg")
      %span.body-medium-bold Github
