.flex.flex-col.space-y-4.items-center
  = link_to gravatar_for(@user), @user

  %h5{ :class => "text-dark-400 dark:text-light-400" }
    = link_to @user.name, @user

  - if @user.description
    .div
      %span.body-medium-regular{ :class => "text-dark-300 dark:text-light-600" }
        = @user.description

  - if user_signed_in?
    = render 'users/follow_form', user: @user
