.flex-col
  = link_to gravatar_for(current_user), current_user
  %h5.pt-2
    = link_to current_user.name, current_user
%span
  = pluralize(current_user.microposts.count, "micropost")

.div.mt-6
  %span.body-medium-regular.pr-3
    No one can call back yesterday.Yesterday will not be called again.
  -#  current_user.intro
