.flex-col
  = link_to gravatar_for(@user), @user
  %h5.pt-2
    = link_to @user.name, @user
-#%span
-#  = pluralize(current_user.microposts.count, "micropost")

.div.mt-4
  %span.body-medium-bold.pr-3
    No one can call back yesterday.Yesterday will not be called again.
  -#  current_user.intro
