- content_for(:title, 'Not Found')

.container.mx-auto.p-12
  .flex.flex-col.items-center.space-y-4
    = image_tag("gif/confused-travolta.gif", alt: '404', lazy: false, class: "object-cover max-w-fit w-full h-64 rounded-lg")
    .flex.flex-col.justify-center.items-center.py-4.space-y-2
      %h3{ :class => "text-dark-400 dark:text-light-400" }
        Page Not Found
      %p{ :class => "text-dark-300 dark:text-light-600" }
        Make sure the address is correct and the page hasn't moved.
      %p{ :class => "text-dark-300 dark:text-light-600" }
        Please contact administrator if you think this is a mistake.
    = render 'errors/footer'
