/* header font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-heading;
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 64px;
        /* identical to box height, or 131% */
        text-transform: capitalize;
        color: #000000;
    }

    h2 {
        @apply font-heading;
        /* Heading/H2/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 39.06px;
        line-height: 56px;
        /* identical to box height, or 143% */
        text-transform: capitalize;
        color: #000000;
    }

    h3 {
        @apply font-heading;
        /* Heading/H3/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 31.25px;
        line-height: 48px;
        /* identical to box height, or 154% */
        text-transform: capitalize;
        color: #000000;
    }

    h4 {
        @apply font-heading;
        /* Heading/H4/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        /* identical to box height, or 160% */
        text-transform: capitalize;
        color: #000000;
    }

    h5 {
        @apply font-heading;
        /* Heading/H5/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */
        text-transform: capitalize;
        color: #000000;
    }

    h6 {
        @apply font-heading;
        /* Heading/H6/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        text-transform: capitalize;
        color: #000000;
    }
}

@layer utilities {
    .body-small-regular {
        /* Body/Small/Regular */
        @apply font-sans text-sm font-normal;
    }

    .body-small-bold {
        /* Body/Small/Bold */
        @apply font-sans text-sm font-bold;
    }

    .body-medium-regular {
        /* Body/Medium/Regular */
        @apply font-sans text-base font-normal;
    }

    .body-medium-bold {
        /* Body/Medium/Bold */
        @apply font-sans text-base font-bold;
    }

    .body-large-regular {
        /* Body/Large/Regular */
        @apply font-sans text-lg font-normal;
    }

    .body-large-bold {
        /* Body/Large/Bold */
        @apply font-sans text-lg font-bold;
    }

    .heading-h1-bold {
        @apply font-heading;
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 64px;
        /* identical to box height, or 131% */
        text-transform: capitalize;
    }

    .heading-h2-bold {
        @apply font-heading;
        /* Heading/H2/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 39.06px;
        line-height: 56px;
        /* identical to box height, or 143% */
        text-transform: capitalize;
    }

    .heading-h3-bold {
        @apply font-heading;
        /* Heading/H3/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 31.25px;
        line-height: 48px;
        /* identical to box height, or 154% */
        text-transform: capitalize;
    }

    .heading-h4-bold {
        @apply font-heading;
        /* Heading/H4/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        /* identical to box height, or 160% */
        text-transform: capitalize;
    }

    .heading-h5-bold {
        @apply font-heading;
        /* Heading/H5/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */
        text-transform: capitalize;
    }

    .heading-h6-bold {
        @apply font-heading;
        /* Heading/H6/Bold */
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        text-transform: capitalize;
    }

    .bg-sign-in {
        @apply bg-left-top bg-no-repeat bg-cover;
        background-image: url('bg/bg_sign_in.jpg');
    }

}

/* header height => 112px */

@layer components {
    .nav-sidebar {
        /*@apply absolute bottom-0 left-0 z-50 w-64 top-28 bg-gray-50 dark:bg-gray-800;*/
        @apply absolute bottom-0 left-0 z-50 top-0 w-64 bg-gray-50 dark:bg-gray-800;
        transition: width 0.3s, left 0.3s;
        transform: translate3d(0, 0, 0);

        /*li {*/
        /*    &.active {*/
        /*        > a {*/
        /*            font-weight: bold;*/
        /*        }*/

        /*        border-left-width: 4px;*/
        /*        border-color: #2084FF;*/
        /*    }*/
        /*}*/
    }

    .content-wrapper {
        @apply w-full;
    }

    .page-with-contextual-sidebar {
        /*@apply pl-64;*/
        padding-left: 256px !important;
        transition: padding-left 0.3s;
    }

    .container-fluid {
        @apply container mx-auto;
    }

    .bg-blur-light-wrap {
        @apply py-10 px-[60px];
        background: rgba(242, 243, 246, 0.4);
        /* Color/Light/200 */

        border: 1px solid #F2F3F6;
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 5px;
    }

    .dark .dark\:bg-blur-dark-wrap{
        @apply py-10 px-[60px];
        background: rgba(122, 122, 138, 0.2);
        /* Color/Dark/300 */

        border: 1px solid #545569;
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 5px;
    }


    /*.content-wrapper-margin {*/
    /*    @apply mt-28;*/
    /*}*/
}
