/* header font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* switch language use */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* sign up use */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: 'Open Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-dark-400 dark:text-light-400;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
    }

    h1 {
        @apply font-heading;
        font-size: 49px;
        line-height: 64px;
        /* identical to box height, or 131% */
    }

    h2 {
        @apply font-heading;
        /* Heading/H2/Bold */
        font-size: 39px;
        line-height: 56px;
        /* identical to box height, or 143% */
    }

    h3 {
        @apply font-heading;
        /* Heading/H3/Bold */
        font-size: 31px;
        line-height: 48px;
        /* identical to box height, or 154% */
    }

    h4 {
        @apply font-heading;
        /* Heading/H4/Bold */
        font-size: 25px;
        line-height: 40px;
        /* identical to box height, or 160% */
    }

    h5 {
        @apply font-heading;
        /* Heading/H5/Bold */
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */
    }

    h6 {
        @apply font-heading;
        /* Heading/H6/Bold */
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
    }
}

@layer utilities {
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    .bg-sign-in {
        @apply bg-left-top bg-no-repeat bg-cover;
        background-image: url('bg/bg_sign_in.jpg');
    }

}

/* header height => 112px */

@layer components {
    .heading-h1-bold, .heading-h2-bold, .heading-h3-bold, .heading-h4-bold, .heading-h5-bold, .heading-h6-bold {
        @apply font-heading font-bold not-italic capitalize text-dark-400 dark:text-light-400;
    }

    .heading-h1-bold {
        /* Heading/H1/Bold */
        font-size: 49px;
        line-height: 64px;
    }

    .heading-h2-bold {
        /* Heading/H2/Bold */
        font-size: 39.06px;
        line-height: 56px;
    }

    .heading-h3-bold {
        /* Heading/H3/Bold */
        font-size: 31.25px;
        line-height: 48px;
    }

    .heading-h4-bold {
        /* Heading/H4/Bold */
        font-size: 25px;
        line-height: 40px;
    }

    .heading-h5-bold {
        /* Heading/H5/Bold */
        font-size: 20px;
        line-height: 32px;
    }

    .heading-h6-bold {
        /* Heading/H6/Bold */
        font-size: 16px;
        line-height: 24px;
    }

    .body-small-regular, .body-small-bold, .body-medium-regular, .body-medium-bold, .body-small-regular, .body-small-bold {
        /*@apply text-dark-300 dark:text-light-600;*/
    }

    .body-small-regular {
        /* Body/Small/Regular */
        @apply font-sans text-sm font-normal;
    }

    .body-small-bold {
        /* Body/Small/Bold */
        @apply font-sans text-sm font-bold;
    }

    .body-medium-regular {
        /* Body/Medium/Regular */
        @apply font-sans text-base font-normal;
    }

    .body-medium-bold {
        /* Body/Medium/Bold */
        @apply font-sans text-base font-bold;
    }

    .body-large-regular {
        /* Body/Large/Regular */
        @apply font-sans text-lg font-normal;
    }

    .body-large-bold {
        /* Body/Large/Bold */
        @apply font-sans text-lg font-bold;
    }

    .nav-sidebar {
        @apply absolute bottom-0 left-0 z-50 top-0 w-64;
        transition: width 0.3s, left 0.3s;
        transform: translate3d(0, 0, 0);
    }

    .nav-sidebar li {
        white-space: nowrap;
    }

    .nav-sidebar li.active a {
        @apply body-medium-bold
    }

    .content-wrapper {
        @apply w-full;
    }

    .page-with-contextual-sidebar {
        /*@apply pl-64;*/
        padding-left: 256px !important;
        transition: padding-left 0.3s;
    }

    .container-fluid {
        @apply container mx-auto;
    }

    .bg-blur-light-wrap {
        @apply py-10 px-[60px];
        background: rgba(242, 243, 246, 0.4);
        /* Color/Light/200 */

        border: 1px solid #F2F3F6;
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 5px;
    }

    .dark .dark\:bg-blur-dark-wrap {
        @apply py-10 px-[60px];
        background: rgba(122, 122, 138, 0.2);
        /* Color/Dark/300 */

        border: 1px solid #545569;
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 5px;
    }

    .bg-blur-light {
        @apply border border-solid border-light-200;
        background: rgba(242, 243, 246, 0.4);
        /* Color/Light/200 */

        /*border: 1px solid #F2F3F6;*/
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        /*border-radius: 5px;*/
    }

    .dark .dark\:bg-blur-dark {
        @apply border border-solid border-dark-300;
        background: rgba(122, 122, 138, 0.2);
        /* Color/Dark/300 */

        /*border: 1px solid #545569;*/
        backdrop-filter: blur(24px);
        /* Note: backdrop-filter has minimal browser support */

        /*border-radius: 5px;*/
    }

    /* One Tail button css style */
    .micro-btn, .sm-btn, .base-btn, .lg-btn {
        @apply inline-flex justify-center items-center gap-2 rounded bg-primary-600 hover:bg-primary-500 text-center text-primary-100 hover:text-light-100 focus:text-primary-200 font-sans font-bold cursor-pointer focus:outline-none;
    }

    .micro_btn {
        @apply py-2.5 px-3 text-sm;
    }

    .sm-btn {
        @apply py-3 px-6 text-sm;
    }

    .base-btn {
        @apply py-3 px-8 text-base;
    }

    .lg-btn {
        @apply py-3.5 px-8 text-lg;
    }

    .bg-devise {
        /*@apply bg-cover bg-no-repeat bg-right-bottom;*/
        @apply bg-cover bg-no-repeat bg-center;
        background-image: url('bg/bg_sign_in.png');
    }

    .bg-devise:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .did-floating-label {
        @apply absolute pointer-events-none left-2.5 top-2.5 px-1.5 transition-all duration-200 body-medium-regular tracking-widest text-dark-300 dark:text-light-600 backdrop-blur-md bg-white dark:bg-dark-600;
    }

    .did-floating-input {
        @apply backdrop-blur-md bg-white dark:bg-dark-600 border border-dark-200 box-border rounded-lg block w-96 py-2.5 px-4 dark:border-primary-600 dark:placeholder-light-500 dark:text-light-400;
    }

    .did-floating-input:focus {
        @apply ring-0 border-current dark:border-primary-600;
    }

    .did-floating-input:focus ~ .did-floating-label {
        @apply -top-2.5 body-small-regular rounded;
    }

    .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
        @apply -top-2.5 body-small-regular rounded;
    }
}

.bg-body {
    background-image: url('bg/bg_body.png');
    background-size: 100% auto;
    background-position: left top 80px;
}

.bg-sign-in {
    background-image: url('bg/bg_sign_in.jpg');
}

.bg-not-login {
    background: linear-gradient(157.42deg, rgba(240, 246, 255, 0.2) 4.94%, rgba(240, 246, 255, 0) 68.33%) no-repeat;
    background-size: 100vw 100vh, 100vw 100vh;
}

.bg-strip-patterns {
    background-image: url('bg/bg_strip_patterns.svg');
    background-size: 57.6vw 87.8vh;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 0 !important;
    padding-top: 0 !important;
    top: 0;
    left: 0;
}

.bg-3d-shapes {
    background-image: url('bg/bg_3d_shapes.svg');
    background-size: 47.14vw 79.66vh;
    background-position: bottom 54px right 32px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dark .dark\:bg-3d-shapes-dark {
    background-image: url('bg/bg_3d_shapes_dark.svg');
    background-size: 47.14vw 79.66vh;
    background-position: bottom 54px right 32px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.bg-home {
    background-image: url('bg/bg_home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

.dark .dark\:bg-home-dark {
    background-image: url('bg/bg_home_dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

.homepage-not-login{
    /*height: calc(100vh - 112px);*/
}

.h-unless-header{
    height: calc(100vh - 112px);
}

.h-unless-header-for-blur{
    height: calc(100vh - 152px);
}

.max-h-unless-header{
    max-height: calc(100vh - 112px);
}

.max-h-unless-header-for-blur{
    max-height: calc(100vh - 152px);
}

.max-h-70vh{
    max-height: 70vh;
}

input ~ .dot {
    transition: transform 1s linear;
    transform: translateX(0);
}

.language-toggle input:checked ~ .dot {
    transform: translateX(136%);
    background-image: url('national_flag/united-kingdom.png');
}

.language-toggle input:checked ~ .line {
    background-color: #012169;
}

.language-toggle input:checked ~ .show-zh-text {
    display: none;
}

.language-toggle input:checked ~ .show-en-text {
    display: block;
}

.bg-china-flag {
    background-image: url('national_flag/china.png');
}

.bg-theme-light {
    background-image: url('icons/theme_dot_light.svg');
}

.theme-toggle-btn input:checked ~ .dot {
    transform: translateX(133%);
    background-image: url('icons/theme_dot_dark.svg');
}

.theme-toggle-btn input:checked ~ .line {
    background: linear-gradient(to bottom, #0D0F1F,#0D0F1F 25%, #191e2c 50%, #0D0F1F 75%, #0D0F1F);
}

.theme-toggle-btn input:checked ~ .show-light-text {
    /*display: none;*/
    opacity: 0;
}

.theme-toggle-btn input:checked ~ .show-dark-text {
    /*display: block;*/
    opacity: 1;
}
