- flash.each_with_index do |f, index|
  - msg_type, msg_value = f
  - Rails.logger.info '-' * 100
  - Rails.logger.info f
  - Rails.logger.info '-' * 100
  .flex.p-4.mb-4{:role => "alert", :class => "#{flash_types(msg_type).dig('div_class')}", "x-data" => "{ open: true }", "x-show" => "open"}
    %svg.flex-shrink-0.w-5.h-5{:class => flash_types(msg_type).dig('svg_class'), :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
      %path{"clip-rule" => "evenodd", :d => "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z", "fill-rule" => "evenodd"}
    .ml-3.text-sm.font-medium{ :class => flash_types(msg_type).dig('inner_div_class') }
      = msg_value
    %button{"aria-label" => "Close", :class => "ml-auto rounded-lg focus:ring-2 inline-flex h-8 w-8 -mx-1.5 -my-1.5 p-1.5 #{flash_types(msg_type).dig('close_btn_class')}", :type => "button", "@click" => "open = false"}
      %span.sr-only Close
      %svg.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}

