- if content_for?(:no_app_layout)
- else
  -#%footer.mt-auto.w-full.min-h-16
  %footer.absolute.bottom-0.w-full.h-56
    .hidden.bg-dark-500.bg-local.bg-no-repeat.bg-contain.bg-bottom{:class => "md:block", :style => "background-image: url(#{image_path('bg/bg_footer')})"}
      .container.flex.mx-auto.justify-center.py-20.space-y-8

        -# Copyright and base_title
        .flex.flex-col.space-y-4.items-center
          .flex.space-x-1
            .body-medium-regular.text-light-300.text-center
              Copyright &copy;
            .body-medium-regular.text-light-300.text-center
              = Date.today.year
            .body-medium-regular.text-light-300.text-center
              |
            .body-medium-bold.text-light-300.text-center
              = t(:base_title)
          .body-medium-regular.text-light-300.text-center
            All Rights Reserved.
