-# - page_title    _("User Settings")
-# - header_title  _("User Settings"), profile_path unless header_title
- sidebar       "dashboard"
- nav           "settings"
- @left_sidebar = true
- @bg_blur_wrap = true

= render template: "layouts/application"
